services:
  - type: web
    name: qltrading-render
    env: node
    region: oregon
    plan: free
    rootDir: .
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
